<div class="container my-5">
  <h1>Buscando... {{buscando}}</h1>


  <div class="card-columns">

      <div class="card" *ngFor="let heroe of arrayHeroes; let i = index">
        <img [src]="heroe.img" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{heroe.nombre}}</h5>
          <p class="card-text">{{heroe.bio}}</p>
          <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
          <a class="btn btn-outline-primary btn-block" [routerLink]="['/heroe', i]">Ver más...</a>
        </div>
      </div>
      
      </div>
      
</div>